<h1>{{newListing.title}}</h1>

<div class="container form-group ">
  <form name="postNewListing"
        ng-submit= "newListing.postNewListing()"
        class="">
    <div class="form-group">
      <label class="control-label col-sm-2">Grouping</label>
      <div class="col-sm-10">
        <select name="category"
                class="select-input form-control"
                ng-model="newListing.chosenGrouping"
                ng-options="grouping[1] for grouping in newListing.grouping_choices"
                required>
          <option value="">-- choose group --</option>
          <option value=grouping[0]</option>
        </select>
      </div>


      <label class="control-label col-sm-2">Category</label>
      <div class="col-sm-10">
        <select name="category"
                class="select-input form-control"
                ng-model="newListing.chosenCategory"
                ng-options="cat[1] for cat in newListing.request_categories"
                required>
          <option value="">-- choose category --</option>
          <option value=cat[0]></option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Title</label>
        <div class="col-sm-10">
          <input type="text"
                 name="name"
                 class="form-control"
                 ng-model="newListing.requestName"
                 required>
         <small id="titleHelpInline" class="text-muted">
           Please add as detailed of a title as possible.
         </small>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Description</label>
        <div class="col-sm-10">
          <input type="text"
                 name="description"
                 class="form-control"
                 ng-model="newListing.requestDescription"
                 required>
           <small id="descriptionHelpInline" class="text-muted">
             Adding a detailed description will allow users to find your
             post using search.
           </small>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">End Date</label>
        <div class="col-sm-10">
          <input type="datetime-local"
                 name="end_time"
                 class="form-control"
                 ng-model="newListing.endDate"
                 required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">email</label>
        <div class="col-sm-10">
          <input type="text"
                 name="email"
                 class="form-control"
                 ng-model="newListing.email">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">phone</label>
        <div class="col-sm-10">
          <input type="text"
                 name="phone"
                 class="form-control"
                 ng-model="newListing.phone">
        </div>
      </div>

    </div>

    <div class="text-right">
      <button type="submit"
        class="btn btn-primary">Submit
      </button>
    </div>

  </form>
</div
