<h1>all listings</h1>

<div class="container search-bar">
  <div class= "col-sm-6">
    <label class="">Search all listings for:</label>
    <input type="text" placeholder="try: volunteer!" ng-model="search" >
  </div>
  <div class= "col-sm-6">
    <label class="">Search for: </label>
    <input type="radio" ng-model="search" value="request" > requests
    <input type="radio" ng-model="search" value="offer" > offers
  </div>
</div>

<div class="container">
  <div class="" ng-repeat="listing in viewListings.listings | filter:search | reverse">
    <a href="/#/viewlistings/{{listing.id}}">
    <div class="item-box">
      <div class="listing-grouping">
        {{listing.grouping}}:
      </div>
      <div class="listing-name">
          {{ listing.name }}
      </div>
      <div class="listing-date">
        Posted: {{listing.start | date}}
      </div>
    </div>
  </a>
  </div>
</div>
