<div class="container">
  <div class="col-xs-6">
    <div class="message-detail-info">
      {{messageDetail.sender.username}} messaged
      {{messageDetail.recipient.username}} on
      {{messageDetail.selectedMessage.created | date}}:
    </div>

    <div class="message-detail-text">
      {{messageDetail.selectedMessage.text}}
    </div>

    <form name="sendMessage"
          ng-submit="messageDetail.sendMessage()"
          class="">
    <div class="form-group">
        <div class="">
          <strong>Message the sender:</strong>
        </div>
        <textarea class="c"
                  name="message"
                  rows="3"
                  columns="40"
                  ng-model="messageDetail.message"></textarea>
        <div class="text-left">
          <button type="submit"
            class="btn btn-primary">Submit
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
